.user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* .special-button {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
  }
  
  .special-button:hover {
    background-color: #ddd;
  } */


  /* home.css */

/* Style for the pagination container */
.row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for the pagination buttons */
.pagination {
  list-style: none;
  display: inline-block;
}

.pagination li {
  display: inline;
  margin: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

/* Style for the active pagination button */
.pagination .active button {
  background-color: #007bff;
  color: #fff;
}

/* Style for the special buttons (1 and 2) */
.pagination .special-button {
  background-color: #007bff;
  color: #fff;
}

/* Hover effect for the pagination buttons */
.pagination button:hover {
  background-color: #eee;
}

  